{% extends "layout.html" %}
{% block body %}

Gráfico
<script src="{{url_for('static', filename='js/external/Chart.bundle.min.js')}}"></script>
<canvas id="lineChart"></canvas>
<script>
	var cv = document.getElementById('lineChart');
	var ctx = cv.getContext('2d');
	var chart = new Chart(ctx, {
		type: 'line',
		data: {
		labels: {{ template_labels | tojson }},
		datasets: [
			{
  				label: "Peso em Kg",
   				data: {{ template_values_confirmed }},
   				backgroundColor: "#3399ff",
   				borderColor: "#3399ff",
   				fill: false,
			}
		]
		},
		options: {
			responsive: true
		}
	});
</script>

{% endblock %}