<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="static/css/stylelogin-login.css">
</head>
<body>
  <div class="container">
    <div class="login form">
      <div class="msg">{{ msg }}</div>
      <form action="{{ url_for('login') }}" method="post">
      <header>Login</header>
      <form action="#">
        <input id="email" name="email" type="text" placeholder="Email" required>
        <input id="password" name="password" type="password" placeholder="Senha" required>
        <input type="submit" class="button" value="Login">

      </form>
      <div class="signup">
        <span class="signup">Não tem uma conta?
         <a href="/registrar">Cadastre-se</a>
        </span>
      </div>
    </div>

  </div>
</body>
</html>
