<!--//index.html -->
{% extends "layout.html" %}
{% block body %}


<div class="row"><h3>Visualizar</h3></div>
  <div class="row">
	<div class="col-md-8">
			Dados de : {{ncompleto}}
			<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<td>ID</td>
					<td>Data</td>
					<td>Altura (m)</td>
					<td>Peso (kg)</td>
					<td>IMC</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			{% for data in dadoscomp %}
				<tr>
					<td>{{data.id}}</td>
					<td>{{data.dataregistro}}</td>
					<td>{{data.alturam}}</td>
					<td>{{data.pesokg}}</td>
					<td>{{data.imc}}</td>
					<td>{{data.status}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
    		<br>

			<table id="tmb" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<td>Taxa metabólica basal (TMB) com base no último registro ({{dataregistro}}) de acordo com o perfil de exercícios:</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>TMB perfil sedentário: {{tmbsedentario}}</td>
				</tr>
				<tr>
					<td>TMB perfil pouco ativo: {{tmbpoucoativo}}</td>
				</tr>
				<tr>
					<td>TMB perfil ativo: {{tmbativo}}</td>
				</tr>
				<tr>
					<td>TMB perfil muito ativo: {{tmbmuitoativo}}</td>
				</tr>
				<tr>
					<td>TMB perfil extremamente ativo: {{tmbextremamenteativo}}</td>
				</tr>
			</tbody>
			</table>
			<br>

			<table id="periodo" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<td>Informações:</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Período de medição: {{periodomedicao}} meses</td>
				</tr>
				<tr>
					<td>Ganho/Perda de peso no período: {{difpeso}} Kg</td>
				</tr>
			</tbody>
			</table>
			<br>
			{% if iniciargrafico != 0 %}
				Gráfico
				<script src="{{url_for('static', filename='js/external/Chart.bundle.min.js')}}"></script>
				<canvas id="lineChart"></canvas>
				<script>
					var cv = document.getElementById('lineChart');
	    			var ctx = cv.getContext('2d');
					var chart = new Chart(ctx, {
	        			type: 'line',
	        			data: {
	            			labels: {{ graphdtregistro | tojson }},
	            			datasets: [
	            				{
	                				label: "Peso em Kg",
	                				data: {{ graphpesokg }},
	                				backgroundColor: "#3399ff",
	                				borderColor: "#3399ff",
	                				fill: false,
	            				}
							]
						},
						options: {
							responsive: true
						}
					});
				</script>
			{% else %}
				Sem Gráfico
			{% endif %}
	</div>
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('ver_comp')}}" method="POST">
          {% if vdestinatarios != 0 %}
		  <div class="form-group">

              <button class="btn btn-primary btn-block">Visualizar</button>
		  </div>
          <div class="form-group">
			  <label>Visualizar dados de: </label>    <select name="destinatario" id="destinatario">
              {% for data in vdestinatarios %}
			  	{% if idusuario == data.usuorigem %}
                	<option value="{{data.usuorigem}}" selected>{{data.nomecompletoorigem}} - id: {{data.usuorigem}}</option>
			  	{% else %}
			  		<option value="{{data.usuorigem}}">{{data.nomecompletoorigem}} - id: {{data.usuorigem}}</option>
			  	{% endif %}
              {% endfor %}
		  </div>

			{% else %}

              <p>Como ninguém compartilhou dados com você, não dá para visualizar dados de ninguém, por enquanto.</p>

            {% endif %}

		</form>
       </div>

	 </div>
    </div>


{% endblock %}